<div class="gradient-background">
  <div>
    <img src="../../../assets/images/logo.jpg" >
  </div>

  <div class="content-holder">
    <h3>{{ welcomeMessages[counter] }}</h3>

    <div class="button-holder">
      <ion-button (click)="buttonOnClick()">
        <ion-icon slot="end" name="arrow-redo-outline"></ion-icon>
        Next
      </ion-button>
    </div>
  </div>
</div>

<!-- <audio autoplay>
  <source src="../../../assets/sounds/background.mp3" type="audio/mpeg">
  Your browser does not support the audio element.
</audio> -->
