<ion-content [fullscreen]="true">
  <div class="logo-holder">
    <ion-row class="logo-row">
      <ion-col>
        <ion-button (click)="onMenuClick()" class="icon-card-menu">
          <ion-icon name="menu-outline"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button (click)="onVolumeClick()" class="icon-card-volume">
          <ion-icon name="{{ volumeIcon }}"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </div>
  <div id="container">
    <div class="content">
      <h2 class="text_shadows">Chill App</h2>
    </div>

    <div class="button-holder">
      <ion-button (click)="takePicture()"> 
        <ion-icon slot="end" name="camera-outline"></ion-icon>
        Take Picture
      </ion-button>
    </div>
  </div>
</ion-content>
