<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-button (click)="takePicture()">Take Picture</ion-button>
      <img [src]="imageUrl" *ngIf="imageUrl" alt="Taken Picture">

    <ion-button (click)="startRecognition()" *ngIf="!recording">
      <ion-icon name="mic-outline" slot="start"></ion-icon>
      Start Speech Recognition
    </ion-button>

    <ion-button (click)="stopRecognition()" *ngIf="recording">
      Stop Speech Recognition
    </ion-button>

    <p>{{ result }}</p>
  </div>
</ion-content>
